body {
    font-family: Arial, sans-serif;
    background-color: lightpink;
    margin: 0;
    padding: 0;
}

.todo-app {
    width: 80%;
    max-width: 777px;
    margin: 30px auto;
    padding: 20px;
    background-color: hotpink;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: "American Typewriter", serif;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.edit-deadline-input {
    padding: 5px 10px;
    color: black;
    background: transparent;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
}


#task-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: lightpink;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: hotpink;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

li.completed .task-text {
    text-decoration: line-through;
    color: white;
}

li > span {
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
    margin-bottom: 2px;
}

.remove-btn {
    background-color: lightpink;
    color: black;
    margin: 2px;
    padding: 10px 10px;
    font-size: 0.8em;
}

#remove-all-btn {
    margin-top: 5px;
}

/* Tablet Styles */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .todo-app {
        width: 90%;
        padding: 15px;
    }

    #task-input {
        padding: 8px;
    }

    button {
        padding: 8px 12px;
    }

    li {
        padding: 4px;
        margin: 4px;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {
    .todo-app {
        width: 95%;
        padding: 10px;
    }

    .task-input {
        flex-direction: column;
        align-items: stretch;
    }

    #task-input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    li {
        flex-direction: column;
        align-items: center;
    }
}
